{% extends 'ultimatebase.html.twig' %}
{% block loggedin %}

        <div class="container table-responsive">
            <div class="row">
                <div class="col-3">
                    {% block sidemenu %}
                        <div class="wrapper">
                            <nav id="sidebar">
                                <div class="sidebar-header">

                                    <h3>Welcome</h3>
                                </div>

                                <div id="content">
                                    <ul class="list-unstyled components">
                                        <li>
                                            <a href="/courses" role="button">Courses</a>
                                        </li>
                                        <li>
                                            <a href="/logout" role="button">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    {% endblock %}

                </div>
                <div class="col-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>

{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block mainpanel %}{% endblock %}

