{% extends 'base.html.twig' %}

{% block body %}

    Here user will login to the system. <a href="{{('users')}}">Link to the Users List</a>

    <div>
        <form action="{{ path('login')}}" method="POST">
            Username: <input type="text" id="username" name="_username" /> <br>
            Password <input type="password" id="password" name="_password" /> <br>

            <button type="submit" >Login</button>
        </form>

    </div>

{% endblock %}