{% extends 'base.html.twig' %}

{% block main %}

    <div class="main" align="center">
        {% if user.teacher %}
        <a href="#" role="button" style="float:left; width:22%; margin-top:1%; margin-left:1%; margin-right:-26%;" class="btn btn-success">Add New Question</a>
        {% endif %}

        <h3>Courses</h3>
        <br>
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">View Exams</th>
                <th scope="col">View Questions</th>
            </tr>
            </thead>
            {% for course in listData %}
                <tbody>
                <tr>
                    <td scope="row">{{ course.id }}</td>
                    <td>{{ course.name }} </td>
                    <td><a  href="/courses/exams/{{ course.id }}" class="btn btn-primary" role="button">View Exams</a></td>
                    <td><a class="btn btn-primary" role="button">View Questions</a></td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock %}
