{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/list.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Course Name</th>

        </tr>
        </thead>
        <tbody>
        {% for course in listData %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }} </td>

            </tr>
        {% endfor %}

{% endblock %}

