{% extends 'base.html.twig' %}

{% block main %}

    <div>
        Successfully updated exam!
    </div>
    <div>
        <a href="/courses/exams/{{ courseId }}" class="btn btn-success" role="button">Go Back to Exams</a>

    </div>

{% endblock %}